<mat-grid-list cols="2" rowHeight="fit" gutterSize="5px">
  <mat-grid-tile>
    <div class="pic-container1">
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <span>
      I am a senior in Computer Science at Worcester State, I love getting outdoors and my cat Bear. Thanks for visiting!
    </span>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="pic-container3">
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="pic-container4"></div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="pic-container2">
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="pic-container5">
    </div>
  </mat-grid-tile>
</mat-grid-list>
