mat-grid-list {
  height: 150vh;
}

mat-grid-tile {
  margin-left: 10px;
  height: 50vh;
  justify-content: center !important;
  align-content: center !important;
}

.pic-container1 {
  background-image: url(src/assets/copenhagen.JPG);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.pic-container2 {
  background-image: url(src/assets/headshot_amsterdam.JPG);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.pic-container3 {
  background-image: url(src/assets/OI000149.JPG);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.pic-container4 {
  background-image: url(src/assets/OI000375.JPG);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.pic-container5 {
  background-image: url(src/assets/IMG_3082.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100%;
  width: 100%;
}
