.button-row button,
.button-row div {
  margin-right: 9px;
  height: 40px;
  background: var(--darker-asset);
  color: var(--new_page_color);
  font-family: "Ostrich Sans";
  border-style: hidden;
}

