<nav class="button-row" align="center">
  <button mat-flat-button color="primary"
          routerLink="" (click)="returnToTop()"
          [ngStyle]="{'font-size': button_font_size + 'pt'}">
    Home
  </button>
  <button mat-flat-button color="primary"
          routerLink="/about-me" (click)="returnToTop()"
          [ngStyle]="{'font-size': button_font_size + 'pt'}">
    About Me
  </button>
  <button mat-flat-button color="primary"
          routerLink="/resume" (click)="returnToTop()"
          [ngStyle]="{'font-size': button_font_size + 'pt'}">
    Resume
  </button>
  <button mat-flat-button color="primary"
          routerLink="/projects" (click)="returnToTop()"
          [ngStyle]="{'font-size': button_font_size + 'pt'}">
    Projects
  </button>
  <button mat-flat-button color="primary"
          routerLink="/references"(click)="returnToTop()"
          [ngStyle]="{'font-size': button_font_size + 'pt'}">
    References
  </button>
</nav>
