.sticky {
  background: var(--darker-asset);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.non_sticky {
  background: var(--darker-asset);
  text-shadow: -1px 0 #ffc8d0, 0 1px #ffc8d0, 1px 0 #ffc8d0, 0 -1px #ffc8d0;
  padding-top: 2px;
  top: 200px;
  width: 100%;
}
