.top_header {
  background: linear-gradient(var(--page_color), var(--lighter-asset) 30%, var(--darker-asset) 80%);
  font-family: "Ostrich Sans Inline";
  color: var(--new_page_color);
  text-align: center;
  padding-top: 10px;
  border-top: 0;
  margin-top: 0;
}

.page {
  background: linear-gradient(var(--new_page_color), var(--page_color));
  height: 150vh;
  font-family: var(--page_font);
  font-size: 25pt;
  overflow-x: hidden;
}

.page_alt {
  background: var(--alt_page_color);
  height: 250vh;
  width: 100%;
  text-align: center;
}

.main_page_footer {
  background: linear-gradient(var(--page_color), var(--alt_page_color));
  height: 50px;
  font-family: "Ostrich Sans Inline";
  font-size: 30pt;
  color: var(--darker-asset);
  text-align: center;
  top-margin: 0;
  z-index: 0;
}
