<section class="web_homePage" (scroll)="onWindowScroll($event);">

  <header class="top_header"
          [ngStyle]="{'font-size': header_font_size + 'pt',
           'height': header_height + 'px',
           'line-height': header_line_height + 'vh'}">
    Brandon Fairbanks<br>Software Developer
  </header>

  <div>
    <app-sticky-header></app-sticky-header>
  </div>

  <div class="page"
       [ngStyle]="{'padding-top': top_padding_var + 'px'}"
       [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <footer class="main_page_footer">
    Copyright or Whatever
  </footer>
</section>
