.button-row button,
.button-row nav {
  height: 30px;
  background: transparent;
  color: var(--darker-asset);
  font-family: "Ostrich Sans";
  font-size: 25pt;
  margin-right: 9px;
  border-style: hidden;
}
