<div style="padding-top: 10px">
  <pdf-viewer src='./assets/FairbanksResumeNovember2019.pdf'
              original-size="true"
              render-text="false"
              style="display: block; height: fit-content"></pdf-viewer>
</div>
<nav class="button-row" style="text-align: center">
  <button mat-flat-button (click)="getTranscript('data_analytics'); appsection=1">
    List Data Analytics Courses
  </button>
  <button mat-flat-button (click)="getTranscript('software_development'); appsection=2">
    List Software Development Courses
  </button>
</nav>
<div *ngIf="appsection==1">
  <ul *ngFor="let course of daTranscript" [type]="course">
    <li>
      Course Number: CS{{course.courseNum}}<br>
      Course Title: {{course.title}}
    </li>
  </ul>
</div>

<div *ngIf="appsection==2">
  <ul *ngFor="let course of sdTranscript">
    <li>
      Course Number: CS{{course.courseNum}}<br>
      Course Title: {{course.title}}
    </li>
  </ul>
</div>
