/* You can add global styles to this file, and also import other style files */

.body {
  margin: 0px;
}

:root {
  --darker-asset: #396362;
  --lighter-asset: #4b8e8d;
  --page_color: #f7e9dc;
  --alt_page_color: #f6c89f;
  --new_page_color: #fff9f2;
  --title_font: "Ostrich Sans Inline";
  --page_font: "Ostrich Sans";
}
