.homebody {
  background-image: url(src/assets/Landing_Page_BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220vh;
  height: 150vh;
}

mat-grid-list{
  height: 150vh;
}

mat-grid-tile {
  height: 50vh;
  justify-content: flex-end !important;
  align-content: flex-end !important;
  font-family: Minbus;
  color: var(--alt_page_color);
}

span {
  text-align: left;
  position: absolute;
}

.h1 {
  font-size: 65pt;
  background: -webkit-linear-gradient(left, var(--alt_page_color), var(--darker-asset));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
