<div class="homebody" *ngIf="!mobile">
  <mat-grid-list cols="3"  rowHeight="fit" gutterSize="0">
    <mat-grid-tile rowspan="1" colspan="3" style="background:transparent">
      <span style="left: 5vw">
        <h1 class="h1">
          Development
        </h1>
      </span>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="3">
      <span style="left: 35vw">
        <h1 class="h1">
          Data Analytics
        </h1>
      </span>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="3">
      <span style="left: 75vw">
        <h1 class="h1">
          Design
        </h1>
      </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="homebody" *ngIf="mobile">
  <mat-grid-list cols="1"  rowHeight="fit" gutterSize="0">
    <mat-grid-tile rowspan="1" colspan="1" style="background:transparent">
        <h1 class="h1" style="font-size: 50pt">
          Development
        </h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <h1 class="h1" style="font-size: 50pt">
          Data Analytics
        </h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <h1 class="h1" style="font-size: 50pt">
          Design
        </h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>
